.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;

  &-item {
    display: flex;
    flex-grow: 1;
    padding: var(--padding);
    gap: var(--padding);

    img {
      --size: 150px;
      width: var(--size);
      height: var(--size);
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
