nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 1rem;
  background-color: var(--nav-background);
  backdrop-filter: blur(1rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  h1 {
    font-size: 1rem;
    font-weight: 500;
  }

  .link-list {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: var(--link-color);
      transition: color 0.3s;
      font-size: 0.9rem;

      &:hover {
        color: var(--link-color-changed);
      }
    }
  }
}
