include components/header

mixin gallery-item(img, title, description)
    .gallery-item
        img(src=img, alt=title)
        h3= title
        p= description

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="static/css/styles.min.css")
        title Menu | Your local café
    body 
        include components/nav

        +header("Our menu")
        
        section 
            h2 Our drinks 
            div.gallery
                +gallery-item("https://images.unsplash.com/photo-1541167760496-1628856ab772?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGF0dGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60", "Latte", "Description")
                +gallery-item("https://images.unsplash.com/photo-1466337105551-aa3ab7890939?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FwcHVjY2lub3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60", "Cappuccino", "Description")
                +gallery-item("https://images.unsplash.com/photo-1536256263959-770b48d82b0a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWF0Y2hhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60", "Matcha", "Description")

        section
            h2 Our bakery products
            div.gallery
                +gallery-item("https://images.unsplash.com/photo-1578775887804-699de7086ff9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hlZXNlY2FrZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60", "Cheesecake", "Description")
                +gallery-item("https://images.unsplash.com/photo-1585653621032-a5fec164ee92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZG9udXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60", "Donut", "Description")
                +gallery-item("https://images.unsplash.com/photo-1555507036-ab1f4038808a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y3JvaXNzYW50fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60", "Croissant", "Description")
                +gallery-item("https://images.unsplash.com/photo-1476887334197-56adbf254e1a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGllfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60", "Cherry Pie", "Description")

        hr

        include components/footer
